:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: #444444;
  --blue-color: #4375f4;
  --purple-color: #9c4fff;
  --sub-bg-color: #5d5d5d;
}
